.product-grid-item {
    margin: .5em;
    border-radius: 2%;
    border: 1px solid #dee2e6;
    padding: 1rem;
    min-width: 375px;
}

.product-grid-item .product-grid-item-top,
    .product-grid-item .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-grid-item img {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.product-grid-item .product-grid-item-content {
    text-align: center;
}

.product-grid-item .product-price {
    font-size: .8rem;
    font-weight: 600;
}
.product-grid-item .product-price-sub {
    font-size: .8rem;
    font-weight: 300;
    text-decoration: line-through;
}
.product-grid-item .product-price-off {
    font-size: .7rem;
    font-weight: 700;
    color: #388e3c;
}
.product-description {
    font-size: 13px;
    margin: .5rem 0rem .5rem 0;
    min-height: 40px;
}
.product-name {
    font-size: 1rem;
    font-weight: 700;
    min-height: 40px;
}
.product-category {
    font-weight: 600;
    vertical-align: middle;
}
.category-dropdown{
    width:200px;
}
.w-95{
    width:95%;
}
.product-grid-item:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.sticky-header{
    position: sticky;
    left: 0;
    top: 0;
    background: aliceblue;
    z-index: 2;
}
.product-header-items{
    min-width: 200px;
}